/*
* 	含羞草在线 轮播组件主题样式
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* 导航按钮样式设计 */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/* IE7 兼容处理 */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #3eb0f7;
	filter: Alpha(Opacity=50);/* IE7 透明度修复 */
	opacity: 0.5;
}
/* 触控设备悬停状态优化 */
/* 适用于非触控设备的悬停交互 */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/* IE7 透明度修复 */
	opacity: 1;
	text-decoration: none;
}

/* 分页器样式设计 */

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/* IE7 兼容处理 */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/* IE7 透明度修复 */
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #dadada;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/* IE7 透明度修复 */
	opacity: 1;
}

/* 数字分页开启时的样式 */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* 图片加载中状态 */
.owl-item.loading{
	min-height: 150px;
	background: url(../images/loading.gif) no-repeat center center
}